<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title> {{ project.title }} </mat-card-title>
        </mat-card-header>
        <img mat-card-image src='{{ project.imageSrc }}' class="image">
        <mat-card-actions>
            <span *ngIf="project.uri">
                <button mat-icon-button (click)="link ( project.uri ) ">
                    <mat-icon svgIcon="link"></mat-icon>
                </button>
            </span>
            <span *ngIf="project.android">
                <button mat-icon-button (click)="link ( project.android ) ">
                    <mat-icon svgIcon="android"></mat-icon>
                </button>
            </span>
            <span *ngIf="project.ios">
                <button mat-icon-button (click)="link ( project.ios ) ">
                    <mat-icon svgIcon="apple"></mat-icon>
                </button>
            </span>
            <span *ngIf="project.cratesio">
                <button mat-icon-button (click)="link ( project.cratesio ) ">
                    <mat-icon svgIcon="rust"></mat-icon>
                </button>
            </span>
            <button mat-icon-button (click)="link( project.githubUri )">
                <mat-icon svgIcon="github-b"></mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>
