<div class="body">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Snake</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        This was the first Javascript program I made.
        I made it to learn the Javascript programing language as well
        as testing my skill at creating a game.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button class="title barButton" (click)="githubSnake()">
          <img src="../../assets/github-brands.svg">
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Snake</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        This was the first Javascript program I made.
        I made it to learn the Javascript programing language as well
        as testing my skill at creating a game.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button class="title barButton" (click)="githubSnake()">
          <img src="../../assets/github-brands.svg">
      </button>
    </mat-card-actions>
  </mat-card>
</div>